@model Govy.Domain.Entities.Log

@{
    ViewBag.Title = "Apagar";
}

<h3>Tem certeza que quer apagar?</h3>
<div>
    <h4>Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pergunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pergunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
